<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">  
<script src="./static/script.js"></script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
</style>
    <title>Accueil</title>
</head>
<body>
    <h1 class="maintitle">Ne perdez plus de temps</h1>


    <div class="readme">Vous avez beaucoup d'heures de travail à faire et du mal à les organiser ? Ce site génère un emploi du temps 
    à partir de vos disponibilités. <br/>
    </div>

    <a class="mainlink" href="/gen">Accéder au générateur</a>
    
</body>
</html>